@model ForgotPasswordModel

<p>Forgot password</p>

<form asp-controller="Account" asp-action="ForgotPassword" method="post">
    <input type="text" asp-for="Email" placeholder="Email" autofocus/>
    <input type="hidden" asp-for="ReturnUrl"/>
    <button type="submit">Forgot password</button>
</form>