@model RegisterModel

<p>Rigister</p>

<form asp-controller="Account" asp-action="Register" method="post">
    <input type="email" asp-for="Email" placeholder="Email" autofocus/>
    <input type="password" asp-for="Password" placeholder="Password" autocomplete="off"/>
    <input type="hidden" asp-for="ReturnUrl"/>
    <button type="submit">Register</button>
</form>