@model ResetPasswordModel

<p>Reset password</p>

<form asp-controller="Account" asp-action="ResetPassword" method="post">
    <input type="password" asp-for="Password" placeholder="Password" autocomplete="off"/>
    <input type="hidden" asp-for="ReturnUrl"/>
    <input type="hidden" asp-for="UserId"/>
    <input type="hidden" asp-for="Code"/>
    <button type="submit">Reset password</button>
</form>